body{
    margin:0;padding: 0;
    font-family: 'Otomanopee One', sans-serif;
    background-color: white;
}
.first-section{
    width: 100%;
    display: flex;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
}
#right-image{
    width: 400px;
    margin-left: 130px;
    margin-top: 220px;
}
.left{
    
    margin-top: 200px;
    margin-left: 60px;
}
#this{
    color: red;
}
.left h1{
    font-size: 50px;
}
#order-here{
    color: white;
    background-image: linear-gradient(red, orange);
    padding: 16px;
    border-radius: 50px;
    padding-top: 20px;
    margin-right: 405px;
}


.section-two{
    width: 100%;
    display: flex;
    background-image: url(images/wp4978361.jpg);
    font-family: 'Galada', cursive;
    font-size: 18px;
    margin-top: 120px;

}
.section-tow-left{
    width: 50%;
}
.section-tow-left img{
   
    margin-left: 150px;
}

.section-tow-right{
    text-align: left;
    padding: 100px;
    width: 50%;
}
.section-tow-right a{
    background-image: linear-gradient(red,yellow);
    padding: 20px;
    border-radius: 34px;
    text-decoration: none;
}
.section-three{
    margin-top: 100px;
    margin-bottom: 100px;
}
.section-three-one{
    padding-left: 392px;
    text-align: center;
    width: 500px;
   
}
.section-three-one h2{
    padding-bottom: 20px;
}
.all-three{
    width: 260px;
    margin-left: 100px;
    text-align: center;
    border: 1px solid white;
    border-radius: 40px;
    padding: 15px;
    box-shadow: 0px 0px 16px 0.1px grey;
    
}
#image-one{
    width: 250px;
    height: 200px;
    border-radius: 40px;
    
}
#image-tow{ 
    width: 250px;
    height: 200px;
    border-radius: 40px;

}
#image-three{
    width: 250px;
    height: 200px;
    border-radius: 40px;
}
.total-three{
    display: flex;
    margin-top: 50px;
    margin-right: 50px;
}